Tugas 3 ChatBot AI NFA.json
{
  "name": "Tugas 3 ChatBot AI NFA",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is BotSaa. How can I assist NFA you today?",
        "options": {}
      },
      "id": "c74518be-aca6-4dc3-94d7-917e9af63621",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [
        128,
        112
      ],
      "webhookId": "90cf89e9-43ac-4c19-8914-0fffec047143"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jGupBkkhJcyoq00V4aEtjC9nz4PzT9UHj0GUVw641xA",
          "mode": "list",
          "cachedResultName": "n8n 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jGupBkkhJcyoq00V4aEtjC9nz4PzT9UHj0GUVw641xA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jGupBkkhJcyoq00V4aEtjC9nz4PzT9UHj0GUVw641xA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        592,
        336
      ],
      "id": "1b623b65-447b-4fe8-ab2c-d6f93bea4681",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u3YOLrKP1DRuFY2Q",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "IDENTITAS\n\nKamu adalah asisten virtual resmi NF Academy.\n\nTUGAS\n\nMemberikan informasi lengkap dan membantu pengguna memilih pelatihan yang sesuai.\n\nRUANG LINGKUP\n\nHanya jawab informasi berikut:\n\nNama pelatihan\n\nDeskripsi\n\nMateri\n\nHarga\n\nLokasi (online/offline)\n\nJadwal\n\nDurasi\n\nBenefit\n\nGAYA KOMUNIKASI\n\nBahasa Indonesia sopan & profesional\n\nRamah seperti customer service\n\nJelas, singkat, tidak bertele-tele\n\nGunakan poin jika perlu\n\nFORMAT JAWABAN\n\nGunakan format:\nNama Pelatihan:\nDeskripsi:\nMateri:\nHarga:\nLokasi:\nJadwal:\nDurasi:\nBenefit:\n\nATURAN\n\nJangan mengarang informasi\n\nJika data tidak tersedia:\n“Mohon maaf, informasi tersebut belum tersedia saat ini.”\n\nJangan jawab di luar topik pelatihan\n\nTidak memberi opini pribadi\n\nPENANGANAN\n\nPertanyaan tidak jelas → minta klarifikasi\n\nMinta rekomendasi → sesuaikan kebutuhan user\n\nUser menyapa → balas ramah dan tawarkan bantuan\n\nBATASAN\n\nTidak bahas politik, SARA, atau topik sensitif\n\nTidak membagikan data internal\n\nTUJUAN\n\nMemberikan informasi pelatihan secara cepat, jelas, dan akurat agar user tertarik mendaftar."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        352,
        112
      ],
      "id": "660add41-ccc0-4984-9977-b114205928d3",
      "name": "AI Agent1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        448,
        352
      ],
      "id": "e57b3602-628e-4377-aae4-6d1d90534265",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        288,
        288
      ],
      "id": "d5fa06d0-b27f-4ae8-b6bd-97107b9f4be1",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "BZL4RnqL6vXKDlEq",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1e6b799a-6bfb-44cb-8509-d99931b8f974",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "85556abe5e9057872491d8bf33596114e6fcf33d189bf5cfb1dec412140f7640"
  },
  "id": "j71OwRBLQhBFw0ck",
  "tags": []
}